config CAESAR_DRIVER
    default m
    tristate "Caesar Cipher pseudo-device driver"
    help
      This module creates a pseudo-device at /dev/caesar that implements
      the Caesar cipher encryption and decryption algorithm.

      When you write text to the device, it is stored in a kernel buffer.
      You can then use ioctl commands to encrypt or decrypt the text in the
      buffer. Reading from the device will return the processed text.
      The cipher key is also configurable via an ioctl command.

      The default configuration is 'm': the module will be compiled
      and it will be available to be loaded at runtime.
